

.container3 {
    color: rosybrown;

}

.container4 {
    color: #ff0034;
}

.container5 {
    color: gray;
}

.container6 {
    color: #00ff00;

}

.container7 {
    color: #00ff;
}